*{padding: 0%; margin: 0%; font-family: 'Open Sans', sans-serif;}

             /* header */

.header{background-color: black;}

.headertxt{color:  #d5dbdb ;}

a{text-decoration: none; color: #d5dbdb ;}

td{padding: 20px;}

                 /* middle */

.para1{background-color: #F5F5F7; font-size: small; text-align: center; padding: 10px;} 

.new{color: #0066CC;}

.new:hover{text-decoration: underline;}

.h{text-align: center; color: black; padding-top: 20px;}

.bg1{background-image: url(./images/hero_iphone_13pro__dhnsegysa42u_large.jpg);background-size: cover; background-repeat: no-repeat; background-position: center ;}

.s{display: inline-block; margin-left: 20px; font-weight: bold; margin-bottom: 400px;}



.brown{color: #BF4800;}

.bg2{padding-top: 10px; background-image: url(./images/hero_watch__f05go333pz2i_large.jpg); background-size:3000px; background-repeat: no-repeat; background-position: center; height: 600px; margin-top: 20px;}

h2{text-align: center;}




.bg3{padding-top: 10px; background-image: url(./images/hero_coda__cv3jny7jpe6a_large.jpg); background-size: 3000px; background-repeat: no-repeat; background-position: center; height: 600px;} 

.white{color: white;}

.txt{font-size: 20px; margin-top: 40px;}

.txt2{font-size: 70px;}

.bottom{padding-top: 300px; font-weight: 900;}

.txt3{font-size: 20px;}

/* .all{padding-top: 10px; height: 1000px}

.flex{display: flex;}

.bg4{background-image: url(./images/hero_vday22__bt5gpd2vjafm_small.jpg); background-size: 500px; background-repeat: no-repeat; height: 500px;}

.bg5{background-image: url(./images/tile_iphone_13__d9w82q7fwceq_small_2x.jpg); background-size: 500px; background-repeat: no-repeat; background-position: right; height: 500px;} */

                         /* footer */

.foot{background-color: #F5F5F7;; margin-top: 20px;}

.smalltxt{font-size: 12px;  padding-top: 15px; text-align: left; padding-left: 200px;}

.small{color: black;}
.small:hover{text-decoration: underline;}

